<%= stylesheet_link_tag '/saas/css/app' %>
<%= stylesheet_link_tag '/saas/css/bootstrap.min' %>
<%= stylesheet_link_tag '/saas/css/calendar' %>
<%= stylesheet_link_tag '/saas/css/email_template' %>
<%= stylesheet_link_tag '/saas/css/font-awesome.min' %>
<%= stylesheet_link_tag '/saas/css/for-stanford' %>
<%= stylesheet_link_tag '/saas/css/form_builder' %>
<%= stylesheet_link_tag '/saas/css/fullcalendar' %>
<%= stylesheet_link_tag '/saas/css/pop_window' %>
<%= stylesheet_link_tag '/saas/css/styles' %>
<%= stylesheet_link_tag '/saas/css/tableRsas' %>

<style type="text/css">
	tr, td, th, tbody, thead, tfoot {
	    page-break-inside: avoid !important;
	}
</style>



<div class="panel tableRsasPanel">
 <div class="panel-heading">
 		<div>
	    <span>
	      <label>Applicant list: <%= @s_round_name %> <%= @s_interview_name %></label>
	    </span>
	    <span class="tableRsasFloatRight" style="float: right;">
	      <label>Total: <%= @applicant_list.length %></label>
	    </span>

 		</div>
 		<div>
 			<span>
				<label>Downloader: <%= @s_downloader_name %></label>
			</span>
 		</div>
  </div>
  <div>
		<table class="table table-bordered table-hover tableRsas" style="border-collapse: collapse; border-spacing: 0;">
			<thead style="color: #fff; background-color: #8c1515;">
				<tr>
					<th style="border: 1px solid #ddd;"><span>name</span></th>
					<th style="border: 1px solid #ddd;"><span>position</span></th>
					<th style="border: 1px solid #ddd;"><span>selected</span></th>
					<th style="border: 1px solid #ddd;"><span>scheduled</span></th>
				</tr>
			</thead>
			<tbody>
				<% @applicant_list.each do |applicant| %>
					<tr>
						<td style="border: 1px solid #ddd;"><p style='page-break-after:always;'><%= applicant[:name] %></p></td>
						<td style="border: 1px solid #ddd;"><p style='page-break-after:always;'>AAAAAAAAAAAAA BBBBBBBBBBBBBBBb</p></td>
						<td style="border: 1px solid #ddd; text-align: center;"><p style='page-break-after:always;'><%= applicant[:check] %></p></td>
						<td style="border: 1px solid #ddd;"><p style='page-break-after:always;'>
							<% applicant[:time_slots].each do |time_slots| %>
								<%= (time_slots.t_start - 8.hours).format_s('%m/%d/%Y %H:%M:%S') %>
							<% end %></p>
						</td>
					</tr>
				<% end %>

			</tbody>
		</table>

  </div>
</div>

