<%= stylesheet_link_tag '/saas/css/app' %>
<%= stylesheet_link_tag '/saas/css/bootstrap.min' %>
<%= stylesheet_link_tag '/saas/css/calendar' %>
<%= stylesheet_link_tag '/saas/css/email_template' %>
<%= stylesheet_link_tag '/saas/css/font-awesome.min' %>
<%= stylesheet_link_tag '/saas/css/for-stanford' %>
<%= stylesheet_link_tag '/saas/css/form_builder' %>
<%= stylesheet_link_tag '/saas/css/fullcalendar' %>
<%= stylesheet_link_tag '/saas/css/pop_window' %>
<%= stylesheet_link_tag '/saas/css/styles' %>
<%= stylesheet_link_tag '/saas/css/tableRsas' %>





<div class="panel tableRsasPanel" style="color: #fff; background-color: #8c1515; border-color: #8c1515;">
 <div class="panel-heading">
 		<div>
	    <span>
	      <label style="color: #fff; background-color: #8c1515; border-color: #8c1515;">Applicant list: <%= @s_round_name %> <%= @s_interview_name %></label>
	    </span>
	    <span class="tableRsasFloatRight">
	      <label style="color: #fff; background-color: #8c1515; border-color: #8c1515;">Total: <%= @applicant_list.length %></label>
	    </span>

 		</div>
 		<div>
 			<span>
				<label style="color: #fff; background-color: #8c1515; border-color: #8c1515;">Downloader: <%= @s_downloader_name %></label>
			</span>
 		</div>
  </div>
  <div>
		<table class="table table-bordered table-hover tableRsas">
			<thead>
				<tr>
					<th><span>name</span></th>
					<th><span>position</span></th>
					<th><span>selected</span></th>
					<th><span>scheduled</span></th>
				</tr>
			</thead>
			<tbody>
				<% @applicant_list.each do |applicant| %>
					<tr>
						<td><span><%= applicant[:name] %></span></td>
						<td><span></span></td>
						<td><span><%= applicant[:check] %></span></td>
						<td>
							<% applicant[:time_slots].each do |time_slots| %>
								<span><%= time_slots.t_start.pst_s('%m/%d/%Y %H:%M:%S') %></span>
							<% end %>
						</td>

					</tr>
				<% end %>

			</tbody>
		</table>

  </div>
</div>

