<%= stylesheet_link_tag '/saas/css/app' %>
<%= stylesheet_link_tag '/saas/css/bootstrap.min' %>
<%= stylesheet_link_tag '/saas/css/calendar' %>
<%= stylesheet_link_tag '/saas/css/email_template' %>
<%= stylesheet_link_tag '/saas/css/font-awesome.min' %>
<%= stylesheet_link_tag '/saas/css/for-stanford' %>
<%= stylesheet_link_tag '/saas/css/form_builder' %>
<%= stylesheet_link_tag '/saas/css/fullcalendar' %>
<%= stylesheet_link_tag '/saas/css/pop_window' %>
<%= stylesheet_link_tag '/saas/css/styles' %>
<%= stylesheet_link_tag '/saas/css/tableRsas' %>



    <script src="/saas/js/plugin/jquery/jquery-2.1.3.min.js?9909571590284"></script>
    <script src="/saas/js/plugin/jquery-ui/jquery-ui.min.js?9909571590284"></script>
    <script src="/saas/js/bootstrap/bootstrap.min.js?9909571590284"></script>

    <script src="/bower_components/angular/angular.js?9909571590284"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js?9909571590284"></script>
    <script src="/bower_components/angular-route/angular-route.js?9909571590284"></script>
    <script src="/bower_components/angular-file-upload/angular-file-upload.js?9909571590284"></script>

    <script src="/saas/js/plugin/checklist-model/checklist-model.js?9909571590284"></script>
    <script src="/saas/js/plugin/multiselect/multiselect.js?9909571590284"></script>

    <script src="/saas/js/setting.js?9909571590284"></script>

    <script src="/saas/js/wating_icon.js?9909571590284"></script>
    <script src="/saas/js/application.js?9909571590284"></script>

    <script src="/saas/js/ui-bootstrap-tpls-0.11.0.min.js?9909571590284"></script>
    <script src="/saas/js/fullcalendar.min.js?9909571590284"></script>
    <script src="/saas/js/gcal.js?9909571590284"></script>

    <script src="/saas/js/controller/homepage.js?9909571590284"></script>
    <script src="/saas/js/controller/process_select_bar.js?9909571590284"></script>
    <script src="/saas/js/controller/recommendation_form.js?9909571590284"></script>
    <script src="/saas/js/controller/not_login_index.js?9909571590284"></script>
    <script src="/saas/js//controller/footer.js?9909571590284"></script>
    <script src="/saas/js/factory.js?9909571590284"></script>


    <link rel="stylesheet" href="/saas/css/styles.css?9909571590284">


<div class="panel tableRsasPanel">
 <div class="panel-heading">
 		<div>
	    <span>
	      <label>Applicant list: <%= @s_round_name %> <%= @s_interview_name %></label>
	    </span>
	    <span class="tableRsasFloatRight">
	      <label>Total: <%= @applicant_list.length %></label>
	    </span>

 		</div>
 		<div>
 			<span>
				<label>Downloader: <%= @s_downloader_name %></label>
			</span>
 		</div>
  </div>
  <div>
		<table class="table table-bordered table-hover tableRsas">
			<thead>
				<tr>
					<th><span>name</span></th>
					<th><span>position</span></th>
					<th><span>selected</span></th>
					<th><span>scheduled</span></th>
				</tr>
			</thead>
			<tbody>
				<% @applicant_list.each do |applicant| %>
					<tr>
						<td><span><%= applicant[:name] %></span></td>
						<td><span></span></td>
						<td><span><%= applicant[:check] %></span></td>
						<td>
							<% applicant[:time_slots].each do |time_slots| %>
								<span><%= time_slots.t_start.pst_s('%m/%d/%Y %H:%M:%S') %></span>
							<% end %>
						</td>

					</tr>
				<% end %>

			</tbody>
		</table>

  </div>
</div>

