<style type="text/css">

.tableRsasPanel > .panel-heading {
    color: #fff;
    background-color: #8c1515;
    border-color: #8c1515;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
 }

 .tableRsas > thead > tr {
    border-top: 1px solid #ddd;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
 }

</style>
<div class="col-md-12 padding-0">
  <div class="panel tableRsasPanel" style="width: 750px;">
    <div class="panel-heading" style="height: 20px;">
      <span>
        <label><%= @round_name %> Schedule</label>
      </span>
    </div>
    <div class="table-responsive">

			<table class="table table-bordered table-hover tableRsas"
				style="border: 0;
						    width: 750px;
								margin-bottom: 0;
								max-width: 100%;
								background-color: transparent;
		    				border-collapse: collapse;
    						border-spacing: 0;
						    display: table;
			">
			  <thead style="display: table-header-group;
    vertical-align: middle;
    border-color: inherit;">
			    <tr style="line-height: 35px;">
			    	<th>Interview</th>
			    	<th>Positions</th>
			    	<th>Time Slots</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% @response.each do |interview| %>
				  	<% if(interview["interviewer_can_schedule"]) %>
							<% if(interview["has_scheduled"]) %>
								<tr>
				      		<td><%= interview["name"] %></td>
				      		<td>
										<% interview["positions_in_interviews"].each do |positions_in_interview| %>
				            	<p><b><%= positions_in_interview["position"]["name"] %></b></p>
										<% end %>
				      		</td>
				      		<td>
										<% interview["time_slots"].each do |time_slot| %>
											<% if(time_slot["check"]) %>
							        	<div>
							            <p><b><%= (time_slot["t_start"] - 8.hours).strftime("%m/%d/%Y %I:%M %p") %></b> ~ <b><%= (time_slot["t_end"] - 8.hours).strftime("%m/%d/%Y %I:%M %p") %></b></p>
							            <p><b>Place</b>: <%= time_slot["place"] %></p>

							            <% if(0 < time_slot["interviewees"].length) %>
								            <p><b>Applicants:</b></p>
								            <% time_slot["interviewees"].each do |interviewee| %>
								            	<p><%= interviewee['user'].present? ? interviewee['user']['name'] : '' %></p>
	                          <% end %>
                          <% end %>

							            <% if(0 < time_slot["interviewer_users"].length) %>
	                          <p><b>Interviewers:</b></p>
								            <% time_slot["interviewer_users"].each do |interviewer| %>
								            		<p><%= interviewer["name"] %></p>
	                          <% end %>
                          <% end %>
							        	</div>
							        <% end %>
										<% end %>
				      		</td>
								</tr>
							<% end %>
				  	<% else %>
							<tr>
			      		<td><%= interview["name"] %></td>
			      		<td>
									<% interview["positions_in_interviews"].each do |positions_in_interview| %>
			            	<p><b><%= positions_in_interview["position"]["name"] %></b></p>
									<% end %>
			      		</td>
			      		<td>
									<% interview["time_slots"].each do |time_slot| %>
						        <div>
						          <p>
						            <p><b><%= (time_slot["t_start"] - 8.hours).strftime("%m/%d/%Y %I:%M %p") %></b> ~ <b><%= (time_slot["t_end"] - 8.hours).strftime("%m/%d/%Y %I:%M %p") %></b></p>
						          </p>
						          <p>
						            <p><b>Place</b>: <%= time_slot["place"] %></p>
						          </p>

					            <% if(0 < time_slot["interviewees"].length) %>
						            <p><b>Applicants:</b></p>
						            <% time_slot["interviewees"].each do |interviewee| %>
						            	<p><%= interviewee['user'].present? ? interviewee['user']['name'] : '' %></p>
                        <% end %>
                      <% end %>
						        </div>
									<% end %>
			      		</td>
							</tr>
				  	<% end %>
			    <% end %>
			  </tbody>
			</table>

    </div>
  </div>
</div>



