<%= stylesheet_link_tag '/saas/css/app' %>
<%= stylesheet_link_tag '/saas/css/bootstrap.min' %>
<%= stylesheet_link_tag '/saas/css/calendar' %>
<%= stylesheet_link_tag '/saas/css/email_template' %>
<%= stylesheet_link_tag '/saas/css/font-awesome.min' %>
<%= stylesheet_link_tag '/saas/css/for-stanford' %>
<%= stylesheet_link_tag '/saas/css/form_builder' %>
<%= stylesheet_link_tag '/saas/css/fullcalendar' %>
<%= stylesheet_link_tag '/saas/css/pop_window' %>
<%= stylesheet_link_tag '/saas/css/styles' %>
<%= stylesheet_link_tag '/saas/css/tableRsas' %>

<style type="text/css">
	tr, td, th, tbody, thead, tfoot {
	    page-break-inside: avoid !important;
	};

	.page-break { display:block; clear:both; page-break-after:always; };


	.div_table {
      display:table;
  }
	.div_thead {
      display: table-header-group;
  }
	.div_tbody {
      display: table-group;
  }
	.div_tr {
      display: table-row;
  }
	.div_td {
      display: table-cell;
  }


</style>



<div>
 <div>
 		<div>
	    <span>
	      <label>Applicant list: <%= @s_round_name %> <%= @s_interview_name %></label>
	    </span>
	    <span class="tableRsasFloatRight" style="float: right;">
	      <label>Total: <%= @applicant_list.length %></label>
	    </span>

 		</div>
 		<div>
 			<span>
				<label>Downloader: <%= @s_downloader_name %></label>
			</span>
 		</div>
  </div>
  <div>
		<div class="div_table" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
			<div class="div_tr page-break" style="color: #fff; background-color: #8c1515;">
				<div class="div_td" style="border: 1px solid #ddd;"><span>name</span></div>
				<div class="div_td" style="border: 1px solid #ddd;"><span>position</span></div>
				<div class="div_td" style="border: 1px solid #ddd;"><span>selected</span></div>
				<div class="div_td" style="border: 1px solid #ddd;"><span>scheduled</span></div>
			</div>
			<% @applicant_list.each do |applicant| %>
				<div class="div_tr page-break">
					<div class="div_td" style="border: 1px solid #ddd;"><%= applicant[:name] %></div>
					<div class="div_td" style="border: 1px solid #ddd;">
						<% applicant[:positions].each do |positioin| %>
							<%= position.name %><br />
						<% end %>

					</div>
					<div class="div_td" style="border: 1px solid #ddd; text-align: center; vertical-align:middle;"><%= applicant[:check] %></div>
					<div class="div_td"style="border: 1px solid #ddd; vertical-align:middle;">
						<% applicant[:time_slots].each do |time_slots| %>
							<%= (time_slots.t_start - 8.hours).format_s('%m/%d/%Y %H:%M:%S') %>
						<% end %>
					</div>
				</div>
			<% end %>

		</div>

  </div>
</div>

